@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
body {
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  margin: 100px;
}
p {
  margin-top: 20px;
  margin-bottom: 50px;
}
h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", sans-serif;
  margin-bottom: 25px;
}
.btn {
  padding: 15px;
  border-radius: 30px;
  border-style: none;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 65%;
}
.btn-1 {
  color: hsl(31, 77%, 52%);
}
.btn-2 {
  color: hsl(184, 100%, 22%);
}
.btn-3 {
  color: hsl(179, 100%, 13%);
}
.row {
  width: 80%;
  margin: 0 auto;
}
.col {
  width: 23%;
  margin: 0;
  display: inline-block;

  color: hsla(0, 0%, 100%, 0.75);
  padding: 40px;
  float: left;
}

.col-1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 15px 0 0 15px;
}
.col-2 {
  background-color: hsl(184, 100%, 22%);
}
.col-3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 15px 15px 0;
}
@media (max-width: 1200px) {
  .col {
    display: block;
    width: 100%;
  }
  .col-1 {
    border-radius: 15px 15px 0 0;
  }
  .col-3 {
    border-radius: 0 0 15px 15px;
  }
}
